@model Hearts_of_Gold.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@Html.ActionLink("Click to Manage Password ", "Index", "Manage")
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Streetaddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Streetaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_of_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_of_Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IsDeleted)*@
            @if (Model.IsDeleted)
            {
                <b>Yes</b>
            }
            else
            {
                <p>No</p>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to Item List", "Index","Items")
</p>
