@model IEnumerable<Hearts_of_Gold.ViewModels.ItemViewModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donation_Categories.Categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donation_Location.BusinessName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donation_Categories.Categories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Donation_Location.BusinessName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ItemID }) 

            @if (item.AspNetUsersId == ViewBag.userID)
            {
                <text>|</text>
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemID })
                <text>|</text>
                @Html.ActionLink("Delete", "Delete", new {id = item.ItemID})
                
            }

        </td>
    </tr>
}

</table>
