@model IEnumerable<Hearts_of_Gold.Models.Item>
@{
    ViewBag.Title = "My Item page";
}
<h2>List of My Items for Donation</h2>
<p>@Html.ActionLink("Click to view a list of Donation Locations", "Index", "Donation_Location")</p>
<p>
    @Html.ActionLink("Click to list an item for donation", "Create")
</p>
<p>@Html.ActionLink("Click to go back to items list", "Index")</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donation_Categories.Categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Donation_Location.BusinessName)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donation_Categories.Categories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donation_Location.BusinessName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ItemID })
                @if (item.User.AspNetUsersId == ViewBag.userID)
                {
                    <text>|</text>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemID })
                    <text>|</text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemID })

                }
                else
                {
                    <text>|</text>
                    @Html.ActionLink("Request Item", "MakeRequest", "Requests", new { id = item.ItemID }, new { title = "Make a Request to Pick up the Item" })
                }
            </td>
        </tr>
    }
</table>
