@model Hearts_of_Gold.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemPickedUp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemPickedUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donation_Location.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donation_Location.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Item1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Item1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.AspNetUsersId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.AspNetUsersId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RequestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
